.tab-content {
    display: none;
}
.active-tab {
    display: block;
}
.tabs {
    display: flex;
    margin-bottom: 20px;
}
.tabs button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #f9f9f9;
    margin-right: 5px;
}
.tabs button.active {
    background-color: #007bff;
    color: white;
}